<div class="container">
    <div class="row">
        <h1>CREATE NEW MEMBER</h1>
        <h2>{{mctrl.editedMember.name}}</h2>
    </div>
    <form role="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" class="form-control" id="name" ng-model="mctrl.editedMember.name">
        </div>
        <div class="form-group">
            <label for="lastName">Last name:</label>
            <input type="text" class="form-control" id="lastName" ng-model="mctrl.editedMember.lastName">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <input type="text" maxlength="1" class="form-control" id="gender" ng-model="mctrl.editedMember.gender">
        </div>
        <div class="form-group">
            <label for="birthdate">Date of birth:</label>
            <input type="text" class="form-control" id="birthdate" ng-model="mctrl.editedMember.dateOfBirth">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" ng-model="mctrl.editedMember.email">
        </div>
        <div class="form-group">
            <label for="biography">Password:</label>
            <input type="text" class="form-control" id="biography" ng-model="mctrl.editedMember.biography">
        </div>
        <button type="submit" class="btn btn-primary" ng-if="mctrl.editMode" ng-click="mctrl.update()">Update</button>
        <button type="submit" class="btn btn-primary" ng-if="!mctrl.editMode" ng-click="mctrl.create()">Create</button>
    </form>
</div>