<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>OPEN PARLIAMENT</h1>

            <h1>DATA</h1>
            <hr>
            <p>Application for managing parliament members, sessions, speeches and parties.</p>
            <a ng-click="hpctrl.scrollTo('about')" class="btn btn-primary btn-xl page-scroll">Find out more...</a>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Open Parliament Data APP</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <a href="#members">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>

                        <h3>Members</h3>

                        <p class="text-muted">Manage all members</p>
                    </div>
                </div>
            </a>
            <a href="#parties">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-university wow bounceIn text-primary"></i>

                        <h3>Parties</h3>

                        <p class="text-muted">Manage all parties</p>
                    </div>
                </div>
            </a>
            <a href="#sessions">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-gavel wow bounceIn text-primary"></i>

                        <h3>Sessions</h3>

                        <p class="text-muted">Manage all sessions</p>
                    </div>
                </div>
            </a>
            <a href="#speeches">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comment wow bounceIn text-primary"></i>

                        <h3>Speeches</h3>

                        <p class="text-muted">Manage all speeches</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Developed as the example of usage of Advanced JAVA technologies at Faculty
                    of organizational sciences</h2>
                <hr class="primary">
                <p><span>It is a non-profit project dedicated to transparency of the parliament data and promotion of the Open Government Data initiative.</span>
                </p>

                <p><span>The data used in this project is provided by the </span>
                    <b><a href="http://www.otvoreniparlament.rs/" target="_blank">Open Parliament project</a>.</b>

                <p>If you have any questions/comments/suggestions, feel free to contact us!</p>
            </div>
            <div class="col-lg-12 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:branislav.vidojevic@outlook.com">branislav.vidojevic@outlook.com</a></p>
            </div>
        </div>
    </div>
</section>