<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">SPEECHES</h2>
            <hr class="primary">
        </div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="mctrl.searchTerm">
            </div>
            <button ng-click="sctrl.search()" class="btn btn-primary">SEARCH</button>
        </form>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Session date</th>
                <th>Member</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr ng-repeat="s in sctrl.speeches">
                <td>{{s.id}}</td>
                <td>{{s.sessionDate}}</td>
                <td>{{s.member.name}} {{s.member.lastName}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="sctrl.showText(s)">show</button>
                </td>
                <td>
                    <a><i class="fa fa-trash-o" ng-click="sctrl.remove(s.id)"></i></a>
                    <a><i class="fa fa-wrench" ng-click="sctrl.updateSpeech(s)"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <paginator collection="sctrl.speeches" change-page="sctrl.changePage"></paginator>
    <button class="btn btn-primary pull-right" ng-click="sctrl.createSpeech()">CREATE NEW SPEECH</button>
</div>
<br>